In [13]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('../datasets/covid_toy.csv')
df.sample(3)

    age gender  fever cough     city has_covid
91   38   Male    NaN  Mild    Delhi       Yes
0    60   Male  103.0  Mild  Kolkata        No
75    5   Male  102.0  Mild  Kolkata       Yes

In [5]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [6]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:5], df.iloc[:,-1], test_size=0.25, random_state=99)
x_train.shape, x_test.shape

((75, 5), (25, 5))

In [17]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
], remainder='passthrough')

In [19]:
transformer.fit_transform(x_train).shape

(75, 7)

In [20]:
transformer.transform(x_test).shape

(25, 7)